<h1>My Tasks</h1>

  <% @tasks.each do |task| %>
   <div>
    <input type="checkbox" id="tasks" />
    <label for="tasks"><%=link_to task.title, task_path(task), class: "link-offset-2 link-underline link-underline-opacity-0"  %></label>


  <% end %>
</ul>
<hr class="border border-primary border-2 opacity-10">
<%=link_to "+ Add a new task", new_task_path, class: "link-offset-2 link-underline link-underline-opacity-0" %>
